In [89]:
import numpy as np
import pandas as pd

In [90]:
movies=pd.read_csv("C:\\Users\\Darshan\\Downloads\\tmdb_5000_movies.csv\\tmdb_5000_movies.csv")
credits=pd.read_csv("C:\\Users\\Darshan\\Downloads\\tmdb_5000_credits.csv\\tmdb_5000_credits.csv")

In [91]:
movies=movies.merge(credits,on="title")

In [92]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [93]:
#keep only necessary columns
movies=movies[['title','id','crew','cast','genres','keywords','overview']]

In [94]:
movies.head(1)

,title,id,crew,cast,genres,keywords,overview
0,Avatar,19995,"[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di..."

In [95]:
movies.isnull().sum()

title       0
id          0
crew        0
cast        0
genres      0
keywords    0
overview    3
dtype: int64

In [96]:
movies.dropna(inplace=True)

In [97]:
movies.isnull().sum()

title       0
id          0
crew        0
cast        0
genres      0
keywords    0
overview    0
dtype: int64

In [98]:
movies.duplicated().sum()

np.int64(0)

In [99]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [100]:
#it is list of dictionary form so we need to convert it into readable form like these ['','','','']
#list is in string format so we need to convert it
import ast 
#helper function
def convert(obj):
    l=[]
    for i in ast.literal_eval(obj):
        l.append(i['name'])
    return l

In [101]:
movies['genres']=movies.genres.apply(convert)

In [102]:
movies.head(1)

,title,id,crew,cast,genres,keywords,overview
0,Avatar,19995,"[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di..."

In [103]:
movies['keywords']=movies.keywords.apply(convert)

In [104]:
def convert3(obj):
    l=[]
    counter=0;
    for i in ast.literal_eval(obj):
        if counter != 3:
            l.append(i['name'])
            counter=counter+1
        else:
            break
    return l

In [105]:
movies['cast']=movies['cast'].apply(convert3)

In [106]:
def fetch_director(obj):
    l=[]
    for i in ast.literal_eval(obj):
        if i['job']=='Director':
            l.append(i['name'])
            break;
    return l

In [107]:
movies['crew']=movies['crew'].apply(fetch_director)

In [108]:
movies.head(1)

,title,id,crew,cast,genres,keywords,overview
0,Avatar,19995,[James Cameron],"[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di..."

In [109]:
movies['overview'][0]
#overview is string we need to convert it in list so

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [110]:
movies['overview']=movies['overview'].apply(lambda x:x.split())

In [111]:
movies.head(1)

,title,id,crew,cast,genres,keywords,overview
0,Avatar,19995,[James Cameron],"[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[In, the, 22nd, century,, a, paraplegic, Marin..."

In [112]:
movies['genres']=movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])

In [113]:
movies['overview']=movies['overview'].apply(lambda x:[i.replace(" ","") for i in x])

In [114]:
movies['crew']=movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [115]:
movies['keywords']=movies['keywords'].apply(lambda x:[i.replace(" ","")for i in x])

In [116]:
movies['cast']=movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])

In [117]:
movies.head(1)

,title,id,crew,cast,genres,keywords,overview
0,Avatar,19995,[JamesCameron],"[SamWorthington, ZoeSaldana, SigourneyWeaver]","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[In, the, 22nd, century,, a, paraplegic, Marin..."

In [118]:
movies['tags']=movies['genres']+movies['cast']+movies['crew']+movies['keywords']+movies['overview']

In [119]:
movies.head(1)

,title,id,crew,cast,genres,keywords,overview,tags
0,Avatar,19995,[JamesCameron],"[SamWorthington, ZoeSaldana, SigourneyWeaver]","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction, S..."

In [120]:
new_df=movies[['id','title','tags']]

In [121]:
new_df.head(1)

      id   title                                               tags
0  19995  Avatar  [Action, Adventure, Fantasy, ScienceFiction, S...

In [122]:
new_df.head()

,id,title,tags
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction, S..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action, JohnnyDepp, Orlan..."
2,206647,Spectre,"[Action, Adventure, Crime, DanielCraig, Christ..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller, ChristianBale..."
4,49529,John Carter,"[Action, Adventure, ScienceFiction, TaylorKits..."

In [123]:
pip install nltk

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: nltk in c:\users\darshan\appdata\roaming\python\python313\site-packages (3.9.1)
Requirement already satisfied: click in c:\users\darshan\appdata\roaming\python\python313\site-packages (from nltk) (8.2.1)
Requirement already satisfied: joblib in c:\users\darshan\appdata\roaming\python\python313\site-packages (from nltk) (1.5.1)
Requirement already satisfied: regex>=2021.8.3 in c:\users\darshan\appdata\roaming\python\python313\site-packages (from nltk) (2025.8.29)
Requirement already satisfied: tqdm in c:\users\darshan\appdata\roaming\python\python313\site-packages (from nltk) (4.67.1)
Requirement already satisfied: colorama in c:\users\darshan\appdata\roaming\python\python313\site-packages (from click->nltk) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [124]:
#there are words like love ,loved,loving all are similar so to make them one we need to do these
import nltk
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [125]:
new_df.head()

,id,title,tags
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction, S..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action, JohnnyDepp, Orlan..."
2,206647,Spectre,"[Action, Adventure, Crime, DanielCraig, Christ..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller, ChristianBale..."
4,49529,John Carter,"[Action, Adventure, ScienceFiction, TaylorKits..."

In [147]:
def stem(st):
    L=[]
    for i in st.split():
        L.append(ps.stem(i))
    return " ".join(L)

In [ ]:
new_df['tags'] = new_df['tags'].apply(lambda x: " ".join([ps.stem(i) for i in x]))

In [202]:
new_df['tags']=new_df['tags'].apply(stem)

C:\Users\Darshan\AppData\Local\Temp\ipykernel_17564\3514595201.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(stem)

In [127]:
ps.stem('loved')

'love'

In [80]:
new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\Darshan\AppData\Local\Temp\ipykernel_17564\2363790582.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

In [136]:
new_df.head(1)

      id   title                                               tags
0  19995  Avatar  action adventur fantasi sciencefict samworthin...

In [137]:
new_df.head()

,id,title,tags
0,19995,Avatar,action adventur fantasi sciencefict samworthin...
1,285,Pirates of the Caribbean: At World's End,adventur fantasi action johnnydepp orlandobloo...
2,206647,Spectre,action adventur crime danielcraig christophwal...
3,49026,The Dark Knight Rises,action crime drama thriller christianbal micha...
4,49529,John Carter,action adventur sciencefict taylorkitsch lynnc...

In [138]:
new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

C:\Users\Darshan\AppData\Local\Temp\ipykernel_17564\4224080999.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

In [139]:
new_df['tags'][0]

'action adventur fantasi sciencefict samworthington zoesaldana sigourneyweav jamescameron cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization.'

In [140]:
new_df['tags'][1]

"adventur fantasi action johnnydepp orlandobloom keiraknightley goreverbinski ocean drugabus exoticisland eastindiatradingcompani loveofone'slif traitor shipwreck strongwoman ship allianc calypso afterlif fighter pirat swashbuckl aftercreditssting captain barbossa, long believ to be dead, ha come back to life and is head to the edg of the earth with will turner and elizabeth swann. but noth is quit as it seems."

In [141]:
#now data processing is done now time for vectorization of data
#vectorization is needed to distinguish to movies different from one another
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000,stop_words="english")
vectors=cv.fit_transform(new_df['tags']).toarray()

In [142]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], shape=(5000,))

In [143]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      shape=(5000,), dtype=object)

In [148]:
stem('action adventure fantasy sciencefiction samworthington zoesaldana sigourneyweaver jamescameron cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.')

'action adventur fantasi sciencefict samworthington zoesaldana sigourneyweav jamescameron cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization.'

In [150]:
from sklearn.metrics.pairwise import cosine_similarity
similarity=cosine_similarity(vectors)

In [157]:
similarity[3]

array([0.07347184, 0.03883678, 0.06004806, ..., 0.03140371, 0.05120916,
       0.08633531], shape=(4806,))

In [160]:
similarity[0]

array([1.        , 0.08346223, 0.0860309 , ..., 0.04499213, 0.        ,
       0.        ], shape=(4806,))

In [169]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(1214, np.float64(0.28676966733820225)),
 (2405, np.float64(0.26901379342448517)),
 (3728, np.float64(0.2605130246476754)),
 (507, np.float64(0.255608593705383)),
 (539, np.float64(0.25038669783359574))]

In [201]:
def recommend(movie):
    movie_index=new_df[new_df['title']==movie].index[0]
    distances=similarity[movie_index]
    movies_list=sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    for i in movies_list:
        print(new_df.iloc[i[0]].title)
        # print(i)

In [200]:
recommend('Batman Begins')

(65, np.float64(0.40218090755486674))
(1361, np.float64(0.35434169344615046))
(1360, np.float64(0.3340765523905305))
(3, np.float64(0.3177444546511212))
(3295, np.float64(0.3120099844792576))

In [195]:
#now we need to send above movies list to our frontend so we will use pickle library
import pickle
pickle.dump(new_df,open('movie.pkl','wb'))

In [197]:
new_df['title'].values

array(['Avatar', "Pirates of the Caribbean: At World's End", 'Spectre',
       ..., 'Signed, Sealed, Delivered', 'Shanghai Calling',
       'My Date with Drew'], shape=(4806,), dtype=object)

In [198]:
pickle.dump(similarity,open('similarity.pkl','wb'))